.column-container {
  margin: 8px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid aquamarine;
  color: black;
  width: 200px;
}

.column-name-container {
  padding: 8px;
}

.task-container {
  padding: 8px;
}

.tasks-display {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  margin-bottom: 6px;
}

.column-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 300px;
  height: fit-content;
  padding: 10px 8px;
  background-color: #101204;
  border-radius: 10px;

  background: rgba(16, 18, 4, 0.651);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(16, 18, 4, 0.3);
}

.column-title {
  padding: 8px;
  color: white;
  flex-grow: 1;
}

.add-task-btn {
  width: 100%;
  text-align: left;
  padding: 8px;
  margin-top: 6px;
}

.add-task-btn:hover,
.add-task-btn:active,
.add-task-btn:focus {
  border: 1px solid #101204;
  outline: none;
}

.task-title {
  color: white;
}

.edit-col-title {
  all: unset;
  padding: 4px;
  border-radius: 10px;
}

.edit-col-title:hover {
  background-color: rgba(255, 255, 255, 0.068);
}

.col-settings-popup {
  position: absolute;
  padding: 8px;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: -156px;
  width: 200px;
  max-width: 200px;
  border-radius: 4px;
}

.column-settings-btn {
  border: none;
  padding: 4px 6px !important;
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  text-align: left;
}

.column-settings-btn:hover,
.column-settings-btn:active,
.column-settings-btn:focus {
  background-color: rgba(255, 255, 255, 0.308);
}
