.nav-bar-container {
  background-color: #1d2125;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #c7cfd815;
}

.navbarBtn:active,
.navbarBtn:focus,
.navbarBtn:active.hover {
  border: none !important;
}

.MuiButton-root {
  color: #c7cfd8 !important;
  text-transform: none !important;
}

.MuiButton-root:active,
.MuiButton-root:hover,
.MuiButton-root:focus {
  outline: none !important;
}

.menuItems {
  margin-top: 10px;
}

#navbar-search-field {
  padding: 0 4px;
  height: 30px;
  background-color: #22272b;
  color: white;
  font-size: 14px;
}

.MuiInputBase-root {
  /* background-color: #22272b; */
  padding-left: 0 !important;
}

.MuiTypography-root {
  color: white !important;
}
