.change-task-title::placeholder {
  font-size: 20px;
  /* font-weight: 700; */
  color: white;
}

.change-task-title {
  color: white !important;
  font-size: 20px !important;
  flex-grow: 1 !important;
}

.task-description-box {
  background-color: #a1bdd914;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 16px;
  color: #b6c2cf;
}

.task-description-box::placeholder {
  font-size: 16px;
  color: #b6c2cf;
}

.right-col-detail {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  min-width: 160px;
}

.right-col-detail button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
  background-color: #a1bdd914;
  border-radius: 4px;
}

.task-detail-func-btn {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.comment-input {
  background-color: #22272b;
  width: 100%;
}

/* .attachment-btn {
  background-color: transparent;
  border: 1px solid white;
}

.attachment-btn:hover,
.attachment-btn:focus,
.attachment-btn:active {
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.082);
} */

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  border: 1px solid rgba(255, 255, 255, 0.308);
  content: "Add an attachment";
  color: #fff;
  display: inline-block;
  background: transparent;
  padding: 14px 30px;
  outline: none;
  white-space: nowrap;
  /* -webkit-user-select: none; */
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.custom-file-input:focus {
  outline: none !important;
}
.custom-file-input:active::before {
  transform: scale(0.9) translate(0px, 2px);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}
