.password-input {
    width: 100%;
    margin-top: 20px !important;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .password-box {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: inline-block;
    color: black;
    text-align: center;
    background-color: white;
  }
  .password-field {
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
  }