.board-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 20px;
  gap: 20px;
  justify-content: left;
  /* overflow-x: scroll; */
  height: 100%;
}

.board-container::-webkit-scrollbar {
  width: 0;
}

.add-column-btn {
  width: 300px;
  text-align: left;
  background-color: #10120428 !important;
  border-radius: 10px;
}

.add-column-btn:hover,
.add-column-btn:active,
.add-column-btn:focus {
  outline: none;
  border: 1px solid #101204;
}

.main-board-container {
  flex-direction: row !important;
}

.scroll-container {
  height: calc(100vh - 48px);
}

.board-nav-bar {
  padding: 20px 20px 0 20px;
  font-size: 40px;
}
