.board-container {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 20px;
  gap: 20px;
  justify-content: left;
  /* overflow-x: scroll; */
  height: 100%;
}

.board-container::-webkit-scrollbar {
  width: 0;
}

.add-column-btn {
  width: 300px;
  text-align: left;
  background-color: #10120428 !important;
  border-radius: 10px;
}

.add-column-btn:hover,
.add-column-btn:active,
.add-column-btn:focus {
  outline: none;
  border: 1px solid #101204;
}

.main-board-container {
  flex-direction: row !important;
}

.scroll-container {
  height: calc(100vh - 48px);
  width: 100%;
}

.board-nav-bar {
  padding: 20px 20px 0 20px;
  font-size: 40px;
}

.title-modal {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
}

.col-modal {
  flex-grow: 1;
  /*margin-right: 10px*/
}

.list-user {
  margin-top: 16px;
}

/* .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.board-title-input {
  font-size: 40px;
  display: inline-block;
  font-weight: 700;
  background-color: transparent;
  border: none;
  outline: none;
  /* max-width: 10ch; */
  padding: 10px 20px 0 20px;
}

.board-title-input::placeholder {
  color: white;
}

.add-member-board-detail {
  color: black;
}

.edit-board-title-icon {
  all: unset;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}

.board-check-icon:hover {
  background-color: rgba(0, 128, 0, 0.445);
}

.board-cancel-icon:hover {
  background-color: rgba(220, 20, 60, 0.445);
}

.delete-board-btn {
  background-color: crimson;
  outline: none;
  border: none;
  color: white;
  border: 1px solid crimson;
}

.delete-board-btn:hover {
  background-color: rgba(255, 185, 199, 0.596);
  color: crimson !important;
  border: 1px solid crimson !important;
}
