.search-input-wrapper {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #1d2125;
  border: 1px solid #1a1a1a;
  padding: 0 10px;
  border-radius: 3px;
  gap: 5px;
}

.search-input-icons {
    font-size: 18px !important;
}

.user-search-input {
  background-color: transparent;
  border: none;
  height: 100%;
  flex-grow: 1;
}

.user-search-input::placeholder {
    font-size: 14px;
}

.user-search-input:active,
.user-search-input:hover,
.user-search-input:focus {
  outline: none;
  border: none;
}
