.open-user-notify {
  /* background-color: rgba(0, 0, 0, 0.815) !important; */
  color: white !important;
  max-width: 300px;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
  /* margin-bottom: 10px; */
  /* inline-size: 200px !important;
  overflow-wrap: break-word !important; */
}

.open-user-notify:hover,
.open-user-notify:focus,
.open-user-notify:active {
  background-color: rgba(255, 255, 255, 0.137);
}

.noti-container {
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(8px);
  padding: 10px;
}

.noti-count-display {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 16px;
  background-color: red;
  width: 18px;
  height: 18px;
  color: white;
  font-size: 10px;
  /* padding: 0 18%; */
  /* height: fit-content; */
  border-radius: 50%;
}

.noti-navigate-link {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 300px;
}
