.open-user-notify {
  background-color: black !important;
  color: white !important;
}

.open-user-notify:hover,
.open-user-notify:focus,
.open-user-notify:active {
  background-color: white;
}

.noti-count-display {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 16px;
  background-color: red;
  width: 18px;
  height: 18px;
  color: white;
  font-size: 10px;
  /* padding: 0 18%; */
  /* height: fit-content; */
  border-radius: 50%;
}
